.vscode

# './database'
database/*
!database/README.md

# MacOS
.DS_Store

# Python
__pycache__
.vscode
*.ipynb
*.egg-info
build
dist
.pytest_cache

# Selenium Firefox geckodriver log
geckodriver.log

# Other
.temp*
examples/planned
